#wrapper {
  //position: absolute;
  top: 50%;
  left: 0;
  right: 0;
//  height: 508px;
//  margin-top: -268px;
}
#pops {
  display: block;
  margin: 0 auto;
  opacity: 0.2;
}
#popsShape {
  display: table;
  clear: both;
  margin: 0px auto 0;
}
#popsShape label {
  display: block;
  float: left;
  margin: 0 7px;
  cursor: pointer;
}
#popsShape label input {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  clip: rect(0 0 0 0);
}
#popsShape label svg {
  display: block;
  width: 88px;
  height: 88px;
  fill: transparent;
  stroke: rgba(0,0,0,0.2);
  stroke-width: 4;
  opacity: 0;
  -webkit-animation: svgAnimation 1.5s ease 0.65s forwards;
          animation: svgAnimation 1.5s ease 0.65s forwards;
}
#popsShape label svg:hover {
  fill: rgba(0,0,0,0.1);
}
@-webkit-keyframes svgAnimation {
  100% {
    opacity: 1;
  }
}
@keyframes svgAnimation {
  100% {
    opacity: 1;
  }
}
#popsShape label input:checked ~ svg,
#popsShape label input:checked ~ svg:hover {
  fill: rgba(0,0,0,0.2);
  stroke: transparent;
}